:root {
  --width-xs: 350px;
  --width-sm: 576px;
  --width-md: 768px;
  --width-lg: 992px;
  --width-xl: 1200px;
  --width-xxl: 1400px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  overflow: hidden;
}

button {
  width: 100%;
}

h1 {
  text-align: center;
}

h4 {
  color: #0dcaf0;
  font-size: 1rem;
  margin-bottom: 0;
}

#result {
  height: 24px;
  color: yellow;
  line-height: 24px;
  text-align: center;
  animation-duration: 0.5s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    color: yellow;
    font-size: 1.05rem;
  }

  100% {
    color: white;
  }
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.dealer,
.player {
  background: darkgreen;
}

img {
  display: block;
}

.cardImg {
  width: calc((var(--width-xs) - 50px) / 5);
  margin: 3px;
}

#dealer-hand,
#player-hand {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dealerWins,
.playerWins {
  color: white;
  padding-left: 1rem;
}

/* *******************Media Queries *********************** */

@media screen and (min-width: 576px) {
  .cardImg {
    width: calc((var(--width-xs) - 50px) / 5);
  }

  #dealer-hand,
  #player-hand {
    height: 90px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .cardImg {
    width: calc((var(--width-sm) - 50px) / 5);
  }

  #dealer-hand,
  #player-hand {
    height: 153px;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .cardImg {
    width: calc((var(--width-md) - 50px) / 5);
  }

  #dealer-hand,
  #player-hand {
    height: 206px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .cardImg {
    width: calc((var(--width-lg) - 50px) / 5);
  }

  #dealer-hand,
  #player-hand {
    height: 268px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {
  .cardImg {
    width: calc((var(--width-xl) - 50px) / 5);
  }

  #dealer-hand,
  #player-hand {
    height: 328px;
  }
}

/* *************** Landscape Mode ********************** */

@media screen and (max-height: 415px) and (min-width: 700px) {
  h1 {
    font-size: 1.3rem;
  }

  .cardImg {
    width: calc((var(--width-xs) - 50px) / 5);
  }

  #dealer-hand,
  #player-hand {
    height: 90px;
  }
}

@media screen and (max-height: 415px) and (min-width: 800px) {
  .cardImg {
    width: calc((var(--width-xs) - 50px) / 5);
  }

  #dealer-hand,
  #player-hand {
    height: 90px;
  }
}

@media screen and (max-height: 912px) and (min-width: 1000px) {
  .cardImg {
    width: calc((var(--width-sm) - 50px) / 5);
  }

  #dealer-hand,
  #player-hand {
    height: 152px;
  }
}
